/*1.) includes a CSS file that contains valid, well-formatted, error-free CSS and
helpful comments where applicable.*/

/*Navigation*/
a { /*removes underline beneath all links*/
    text-decoration: none;
	background-color: whitesmoke;
}
a:link {  /*removes underline beneath all links*/
	font-weight: bold; 
	}
a:visited {  /*visited links are grey*/
	font-weight: bold; 
	color: grey;
	}
a:hover, a:focus, a:active {  /*hovering and active links are underlined*/
	text-decoration: underline; 
	}
a:hover{ /*Hovering over links changes background color to show it is clickable*/
	background-color: #fd1970;
    color: #fff;
}

/*2.) includes at least one example of a type selector, a class selector, an id
selector, an attribute selector, a pseudo-class selector or pseudo-element
selector, a descendant combinator, a child combinator, a direct sibling
combinator and a general sibling combinator. */

h3 { /*type selector --> all h3 tags have increased font size*/
	letter-spacing: 1px; 
	margin-bottom: 0; 
	color:black;
}
.wrapper { /*class selector --> all .wrapper classes have property and value changed */
	border: red 2px dotted;
}
#zen-summary { /*id selector --> all #zen-summary classes have property and value changed*/
	border: red 2px solid;
	padding: 5px;
  }
a[href="http://www.amazon.com/exec/obidos/ASIN/0321303474/mezzoblue-20/"] { /*attribute selector --> selects href matching "/example/index"*/
	text-shadow: 0 0 3px #ff008c, 0 0 3px #6a00ff;
  }
p:nth-of-type(2n) { /*pseudo-class selecto --> every other p selector is colored red*/
	color:red;
}
p::first-letter { /*pseudo-element selector --> first letter of every p  */
    font-size: 1.6em;
    font-weight: bold;
}   
.sidebar .wrapper .design-selection nav ul li a{ /*descendant combinator --> highlights a selector if a descendant of .sidebar*/
    font-style: italic;
	color: goldenrod;
}
.sidebar .wrapper .design-archives nav ul li a{
    font-style: italic;
	color: goldenrod;
}
.sidebar .wrapper .zen-resources ul li a{
    font-style: italic;
	color: goldenrod;
}
.preamble > h3 { /*child combinator --> affects child of .pramble selector*/
	font-size: 3em;
	text-shadow: 0 0 3px #ff008c, 0 0 3px #6a00ff;
	margin-bottom:30px;
}
h3 + p { /*direct sibling combinator --> affects the direct sibling of h3 (first paragraph selector)*/
	font-weight: bold;
}
h3 ~ p{ /*general sibling combinator --> if p is a sibling of h3 (all p), then color will change */
	color:blueviolet;
}

/*3.) incorporates a background image or gradient to enhance visual
appearance of the interface. */

.page-wrapper{
	padding: 0 175px 0 110px;  
	margin: 0; 
	position: relative;
	max-width: 57vw;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(246, 246, 246, 0.91); /*this is the translucent white page wrapper*/
	margin-top: 10em;
	margin-bottom: 10em;
	border-radius: 10px;
}
body { 
	background-image: url("assets/blocks2.webp"); /*this is the blue block background image*/
	font: 13px verdana, sans-serif;
	line-height: 2.5em;
}
/*4.) incorporates colour while still maintaining readability/accessibility
  5.) incorporates at two custom web fonts and appropriate font-sizing and units*/

/*i.) /*First custom webfont - Externally hosted web-font*/
@font-face {
    font-family: 'Architects Daughter';
    font-weight: 149;
    src: url(https://fonts.gstatic.com/s/architectsdaughter/v18/KtkxAKiDZI_td1Lkx62xHZHDtgO_Y-bvTYlg4w.woff2) format('woff2');
}
h1, h2, h3, a[href="http://www.amazon.com/exec/obidos/ASIN/0321303474/mezzoblue-20/"] {
    font-family:'Architects Daughter', sans-serif; 
	font-weight: bold;
	font-style: italic;  
	font-size: 2em;
}
/*ii.) Second custom webfont - locally hosted web-font */
@font-face {
    font-family: 'open_sansregular';
	font-weight: 149;
    src: url('assets/OpenSans-Regular-webfont.woff') format('woff');
}
p, table{
    font-family: 'open_sansregular', sans-serif;
	margin-top: 0; 
	text-align: justify;
}

/*6.) Demonstrates understanding of the box model through the addition of
padding and margins to give a sense of space between elements. */
html{
    box-sizing: border-box;
	margin: 0;
	padding: 0;
}
*,*:before,*:after{
    box-sizing: inherit;
}
.wrapper2{ 
    font-size:20px;
    width:800px; 
    margin: 0 auto;
}
.intro { 
	width: 100%;
}
header h1 { 
	background: transparent url(assets/title.png) no-repeat top left; /*transparent text source: https://www.textstudio.com/logo/transparent-text-with-shadow-173 */
	width: 80%;
	height: 150px;
	float: left;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}
header h2 { 
	margin-bottom: 20px; 
	width: 25%; 
	height: 18px; 
	float: left;
	white-space: nowrap;
}
.summary {
	clear: both; 
	margin: 30px 20px;
	width: 90%; 
	border-radius: 10px;
	font-weight: bold;
	background-color: rgba(246, 246, 246, 0.91); 
	float: left;
}
.preamble {
	clear: both; 
}
.supporting {	 
	margin-bottom: 100px;
}
#zen-supporting{
    background-color: rgba(246, 246, 246, 0.91);
    height: 100%;
    width: 100%;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 10px;
    float:left;
}
.sidebar{
    background-color: rgba(246, 246, 246, 0.50); 
    height: 100%;
    width: 16%;
    padding:20px;
	margin-left: 10px;
	border-radius: 10px;
	position: absolute; 
	top: 0; 
	right: 0;
	float:left;	
}
.sidebar .wrapper { 
	background: whitesmoke; 
	padding: 10px;  
	width: 150px; 
}
.sidebar h3.select { 
	font-size: 1em;
	margin: 0px 0px 10px 0px; 
	width: 150px; 
	height: 20px; 
}
.sidebar h3.archives { 
	font-size: 1em;
	margin: 10px 0px;
	width: 60px; 
	height: 20px; 
}
.sidebar h3.resources { 
	font-size: 1em;
	margin: 10px 0px;
	width:60px; 
	height: 20px; 
}

.sidebar ul {
	margin: 0;
	padding: 0;
}
.sidebar li {
	line-height: 1.25em; 
	padding-top: 5.5px; 
	margin-bottom: 5.5px;
}
footer{
	background-color: rgba(246, 246, 246, 0.91);
	text-align: center; 
	height: 10px;
	height:25px;
	margin-bottom: 20px;
	color: black;
    clear:both; /*returns css to normal flow after using float in previous divs*/
}
footer a{ 
	margin-inline: 20px; 
}

/*7.) incorporates some type of creative element (hover effect, image filter,
animation etc.) */

@keyframes pulse {
	0% { 
		transform: scale(1) 
	}
	50%{
		transform: scale(1.25);
	}
	100% { 
		transform: scale(1);
	}
}

header h1:hover{
	animation-name: pulse;
    animation-duration: 3s;
}

	